﻿/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-bottom: 40px;
    color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

    /* Flip around the padding for proper display in narrow viewports */
    .navbar-wrapper > .container {
        padding-right: 0;
        padding-left: 0;
    }

    .navbar-wrapper .navbar {
        padding-right: 15px;
        padding-left: 15px;
    }

        .navbar-wrapper .navbar .container {
            width: auto;
        }


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 500px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: #777;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}


.btn-nav {
    background-color: #fff;
    border: 1px solid #e0e1db;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}

    .btn-nav:hover {
        color: #e92d00;
        cursor: pointer;
        -webkit-transition: color 1s; /* For Safari 3.1 to 6.0 */
        transition: color 1s;
    }

    .btn-nav.active {
        color: #e92d00;
        padding: 2px;
        border-top: 6px solid #e92d00;
        border-bottom: 6px solid #e92d00;
        border-left: 0;
        border-right: 0;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -webkit-transition: border 0.3s ease-out, color 0.3s ease 0.5s;
        -moz-transition: border 0.3s ease-out, color 0.3s ease 0.5s;
        -ms-transition: border 0.3s ease-out, color 0.3s ease 0.5s; /* IE10 is actually unprefixed */
        -o-transition: border 0.3s ease-out, color 0.3s ease 0.5s;
        transition: border 0.3s ease-out, color 0.3s ease 0.5s;
        -webkit-animation: pulsate 1.2s linear infinite;
        animation: pulsate 1.2s linear infinite;
    }

        .btn-nav.active:before {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 6px 6px 0;
            border-color: #e92d00 transparent;
            display: block;
            width: 0;
            z-index: 1;
            margin-left: -6px;
            top: 0;
            left: 50%;
        }

    .btn-nav .glyphicon {
        padding-top: 16px;
        font-size: 40px;
    }

    .btn-nav.active p {
        margin-bottom: 8px;
    }

@-webkit-keyframes pulsate {
    50% {
        color: #000;
    }
}

@keyframes pulsate {
    50% {
        color: #000;
    }
}

@media (max-width: 480px) {
    .btn-group {
        display: block !important;
        float: none !important;
        width: 100% !important;
        max-width: 100% !important;
    }
}

@media (max-width: 600px) {
    .btn-nav .glyphicon {
        padding-top: 12px;
        font-size: 26px;
    }
}

#menu_test {
    position: fixed;
    top: 500px;
    width: 100%;
    z-index: 1500;
}
